extends ../../common.blocks/base/base

include ../../common.blocks/slider/slider
include ../../common.blocks/bubble/bubble
include ../../common.blocks/step/step
include ../../common.blocks/video-youtube/video-youtube
include ../../common.blocks/arrow-button/arrow-button
include ../../common.blocks/button/button
include ../../common.blocks/toggles/toggles
include ../../common.blocks/tick/tick
include ../../common.blocks/dial-percentages/dial-percentages
include ../../common.blocks/photo-circle/photo-circle
include ../../common.blocks/news/news
include ../../common.blocks/events/events
include ../../common.blocks/form/form

block title
  |FlatUI
block main
  .page_over
    .page

      .title-block= "STANDARD  BUTTONS"
      .button-block
        .button-inline
          +button('bname1','small','blue','BUTTON','button','BUTTON','button')
          +button('bname12','normal','blue','BUTTON','button')
          +button('bname13','normal','red','BUTTON','button')
          +button('bname14','small','red','BUTTON','button')
        .button-inline
          +button('bname15','small','blue','BUTTON','button')
          +button('bname16','normal','blue','BUTTON','button')
          +button('bname17','normal','red','BUTTON','button')
          +button('bname18','small','red','BUTTON','button')
        .button-inline
          +button('bname19','small','blue','BUTTON','button','disabled')      
          +button('bname1','normal','blue','BUTTON','button','disabled')      
          +button('bname10','normal','red','BUTTON','button','disabled')      
          +button('bname111','small','red','BUTTON','button','disabled')

      .title-block= "ARROW  BUTTONS"
      .arrow-button-inline
        +arrow-button('left')
        +arrow-button('right')
        +arrow-button('left','disabled')
        +arrow-button('right','disabled')
        +arrow-button('left')
        +arrow-button('right')

      .title-block= "PERCENTAGES / PIE CHART"
      .dial-flex
        +dial-percentages("0")
        +dial-percentages("38")
        +dial-percentages("62")
        +dial-percentages("89")

      .title-block= "SLIDERS"  
      .sliders-flex
        .slider-left
          +slider('step1','sname1','40')
        .slider-right
          +slider('step25','sname2','75')

      .title-block= "STAGES"
      .step-block
        +step('5','3')    

      .title-block= "FORM  ELEMENTS"
      .form-block
        .form-left
          +form   

        .form-right 
          .title-block__mini= "TOGGLES"
          .flex-but    
            +toggles('tname1','unchecked')  
            +toggles('tname','checked')      
          .title-block__mini= "TICK  BOXES"
          .flex-but.but-tick    
            +tick('tiname','checked')
            +tick('tiname1','unchecked')
            
      .title-block__mini= "USER PROFILE"
      +photo-circle("./img/man.jpg",'84px')
      +photo-circle("./img/woman.jpg",'84px')

      .title-block= "NEWS  &  EVENTS"  
      .news-block   
        +news("./img/news.jpg",'It’s all going downhill','24  AUGUST  2013','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.') 
        +events("./img/events.jpg",'24','Aug','THIS IS THE TITLE','Lorem ipsum dolor sit amet, consectetur adipiscing elit.','ADD  TO  CALENDAR')

      .title-block= "LOCATION"

      #calendar

      .title-block= "VIDEO"
      .video-frame
        +video("79ImZE0K7xc")
      
      