extends ../../common.blocks/base/base

include ../../common.blocks/slider/slider
include ../../common.blocks/bubble/bubble
include ../../common.blocks/step/step
include ../../common.blocks/video-youtube/video-youtube

block title
  |FlatUI
block main
  .page_over
    .page
      .title-block= "STANDARD  BUTTONS"
      .title-block= "ARROW  BUTTONS"
      .title-block= "PERCENTAGES / PIE CHART"
      .title-block= "SLIDERS"  
      +slider('step1','name1')
      +slider('step25','name2')
      .title-block= "STAGES"
      +step('5','3')    
      .title-block= "FORM  ELEMENTS"
      .title-block= "NEWS  &  EVENTS"
      .title-block= "LOCATION"    
      .title-block= "VIDEO"
      .video-frame
        +video("79ImZE0K7xc")
      
      