extends ../../common.blocks/base/base

include ../../common.blocks/slider/slider
include ../../common.blocks/bubble/bubble
include ../../common.blocks/step/step
include ../../common.blocks/video-youtube/video-youtube
include ../../common.blocks/arrow-button/arrow-button
include ../../common.blocks/button/button
include ../../common.blocks/toggles/toggles

block title
  |FlatUI
block main
  .page_over
    .page
      .title-block= "STANDARD  BUTTONS"
      .button-inline
        +button('name1','small','blue','BUTTON')
        +button('name12','normal','blue','BUTTON')
        +button('name13','normal','red','BUTTON')
        +button('name14','small','red','BUTTON')
      .button-inline
        +button('name15','small','blue','BUTTON')
        +button('name16','normal','blue','BUTTON')
        +button('name17','normal','red','BUTTON')
        +button('name18','small','red','BUTTON')
      .button-inline
        +button('name19','small','blue','BUTTON','disabled')      
        +button('name1','normal','blue','BUTTON','disabled')      
        +button('name10','normal','red','BUTTON','disabled')      
        +button('name111','small','red','BUTTON','disabled')

      .title-block= "ARROW  BUTTONS"
      .arrow-button-inline
        +arrow-button('left')
        +arrow-button('right')
        +arrow-button('left','disabled')
        +arrow-button('right','disabled')
        +arrow-button('left')
        +arrow-button('right')

      .title-block= "PERCENTAGES / PIE CHART"

      .title-block= "SLIDERS"  
      .sliders-flex
        .slider-left
          +slider('step1','name1','14')
        .slider-right
          +slider('step25','name2','75')

      .title-block= "STAGES"
      +step('5','3')    
      
      br
      br
      br
      .title-block= "FORM  ELEMENTS"
      .input-table
        input(type="text" class="input-form" placeholder="Your Name")
        .block-input-text
          +bubble('left','red','ERROR')
      .input-table
        input(type="text" class="input-form" placeholder="Your Email")
        .block-input-text
          +bubble('left','blue','THANKS!')
      +button('name123','normal','blue','BUTTON')
      br
      br
      br
      +toggles('name','cheked')
      br
      br
      +toggles('name','uncheked')
      .title-block= "NEWS  &  EVENTS"

      .title-block= "LOCATION"

      #calendar

      .title-block= "VIDEO"
      .video-frame
        +video("79ImZE0K7xc")
      
      