extends ../../common.blocks/base/base

include ../../common.blocks/slider/slider
include ../../common.blocks/bubble/bubble
include ../../common.blocks/step/step
include ../../common.blocks/video-youtube/video-youtube
include ../../common.blocks/arrow-button/arrow-button
include ../../common.blocks/button/button

block title
  |FlatUI
block main
  .page_over
    .page
      .title-block= "STANDARD  BUTTONS"
      .button-inline
        +button('name1','small','blue','BUTTON')
        +button('name1','normal','blue','BUTTON')
        +button('name1','normal','red','BUTTON')
        +button('name1','small','red','BUTTON')
      .button-inline
        +button('name1','small','blue','BUTTON')
        +button('name1','normal','blue','BUTTON')
        +button('name1','normal','red','BUTTON')
        +button('name1','small','red','BUTTON')
      .button-inline
        +button('name1','small','blue','BUTTON','disabled')      
        +button('name1','normal','blue','BUTTON','disabled')      
        +button('name1','normal','red','BUTTON','disabled')      
        +button('name1','small','red','BUTTON','disabled')

      .title-block= "ARROW  BUTTONS"
      .arrow-button-inline
        +arrow-button('left')
        +arrow-button('right')
        +arrow-button('left','disabled')
        +arrow-button('right','disabled')
        +arrow-button('left')
        +arrow-button('right')

      .title-block= "PERCENTAGES / PIE CHART"

      .title-block= "SLIDERS"  
      .sliders-flex
        .slider-left
          +slider('step1','name1','14')
        .slider-right
          +slider('step25','name2','75')

      .title-block= "STAGES"
      +step('5','3')    

      .title-block= "FORM  ELEMENTS"

      .title-block= "NEWS  &  EVENTS"

      .title-block= "LOCATION"

      #calendar

      .title-block= "VIDEO"
      .video-frame
        +video("79ImZE0K7xc")
      
      